<ul class="pricing-table-list">
  <li>
  <strong>Commenter:</strong>
  </li>
  <li>
  <%= comment.commenter %>
  </li>
  <li>
  <strong>Comment:</strong>
  </li>
  <li>
  <%= comment.body %>
  </li>
</ul>


  <%= link_to 'Destroy Comment', [comment.stock, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
