<h1>Editing stock</h1>

<%= render 'form' %>

<%= link_to 'Destroy', stock_path(@stock),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', stocks_path %>