<head>
    <link rel="stylesheet" media="all" href="comments.css" data-turbolinks-track="true">
</head>
<body>
<div class="head-sect">
    <div class="w-container">
        <div class="sub-head">Discover new startups &amp;&nbsp;follow their journeys from inception to success</div>
        <div class="logo-block">Follow, post feedback, view updates &amp;&nbsp;get early access to new &amp;&nbsp;incredible
            startups
        </div>
    </div>
</div>
<div class="mailing-section">
    <div class="w-container">
        <div>
            <div class="w-form form-wrap">
                <form class="form" id="email-form" name="email-form" data-name="Email Form">
                    <label class="email-label" for="email">Sign up to be notified of our launch or help out</label>
                    <input class="w-input form-label" id="email" type="email" placeholder="Enter your email address"
                           name="email" data-name="Email" required="required">
                    <input class="w-button subscribe-btn" type="submit" value="Email me!" data-wait="Please wait...">
                </form>
                <div class="w-form-done thanks-background">
                    <p>Thanks, you’re subscribed!</p>
                </div>
                <div class="w-form-fail">
                    <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products-section">
    <div class="w-container">
        <div class="text-header-div">
            <h1>Featured Journeys</h1>

            <div class="subtext">Here are a list of our most active startup journeys right now!</div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-4">
                <a class="w-inline-block journey-icon" href="#">
                    <img class="img-block"
                                                                     src="https://daks2k3a4ib2z.cloudfront.net/558d119b2f46a55e77ffbd60/544fc19ff421f24d7d0d8381_traveldrum.png"
                                                                     width="290">

                    <div class="product-name">TravelDrum</div>
                    <div class="product-text">This is some text inside of a div block&nbsp;inside of a div block inside
                        of a div block.
                    </div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">168</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">24</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">live</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-4">
                <a class="w-inline-block journey-icon" href="#"><img class="img-block" src="images/airbn.png"
                                                                     width="145">

                    <div class="product-name">Airbnb</div>
                    <div class="product-text">This is some text inside of a div block&nbsp;inside of a div block inside
                        of a div block.
                    </div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">4</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">2</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div amber"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">developing</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-4">
                <a class="w-inline-block journey-icon" href="#"><img class="img-block" src="images/use3.png"
                                                                     width="299">
                    <div class="product-name">Assembly</div>
                    <div class="product-text">This is some text inside of a div block&nbsp;inside of a div block inside
                        of a div block.
                    </div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">1027</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">801</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">live</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-4">
                <a class="w-inline-block journey-icon" href="#"><img class="img-block" src="images/frost-example.png"
                                                                     width="290">

                    <div class="product-name">Frost</div>
                    <div class="product-text">This is some text inside of a div block&nbsp;inside of a div block inside
                        of a div block.
                    </div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">168</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">24</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div amber"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">live</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-4">
                <a class="w-inline-block journey-icon" href="#"><img class="img-block" src="images/coffee-example.png"
                                                                     width="137">

                    <div class="product-name">Example Coffee</div>
                    <div class="product-text">This is some text inside of a div block&nbsp;inside of a div block inside
                        of a div block.
                    </div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">4</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">2</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">developing</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-4">
                <a class="w-inline-block journey-icon" href="#"><img class="img-block" src="images/brew.png"
                                                                     width="290">

                    <div class="product-name">John Smith’s Brewery</div>
                    <div class="product-text">This is some text inside of a div block&nbsp;inside of a div block inside
                        of a div block.
                    </div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">1027</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">801</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div amber"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">live</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>